
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" >
</head>

<body>
    
        
        <form  action='/getinput' method="POST">
          {% csrf_token %}
            <h2>ToDo List</h2>
        <div>
          
          <div>
            <label for="id">ID:</label>
            <input type="text" id="id" name="id" value=""><br>
            <br>
            <label>Work:</label>
            <input type="text" name="work" id="work" placeholder="your work...">
            </br>
          </div>
        </div>

         
        <div>
            </br>
            <input type="submit" name="insert" value="insert">
            <input type="submit" name="delete" value="delete">
            <input type="submit" name="update" value="update">
            {{ workinput }}
          </div>
        </div>   
        </form>
        <h2>Database data : </h2>
        {% for a in workstodo %}
        {{a.id}} : {{a.work}}
          <br>
          {% endfor %}
  
</body>
</html>